<!doctype html>
<html lang="en">
   <head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 <title> index page </title>
 </head>
 <body>

<div class="jumbotron text-center">

  <h1> welcome to the movie expert </h1>
  <p>    </p>
</div>

<div class="container">

<div class="row">
  <div class="col-sm-3">
<h3> <a href='/browse_actor'> browse_actor </a> </h3>
<p> under actor section, you can view the current_actor in the database, you can also add, update and delete a actor. </p>

</div>
<div class="col-sm-3">
<h3> <a href = '/browse_director'> browse_director </a> </h3>
<p> under director section, you can view the current_director in the database, you can also add, update and delete a director. </p>

</div>

<div class="col-sm-3">

<h3> <a href = '/browse_movie'> browse_movie  </a> </h3>
<p> under movie section, you can view the current_movie in the database, you can also add, update and delete a movie.(1:M relationship with director table) the movie can have 0 or 1 director but director can direct 0 or many movies. </p>

</div>

<div class="col-sm-3">
<h3> <a href= "/browse_movie_cast"> browse_movie_cast </a> </h3>

<p> under movie_cast section, you can search for the movies that the specific actor has casted before , or you can search for the actors in the specific movie(m:m releationsip implementation)  </p>
</div>

</div>

</div>






<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
