<html>
<head><title>Browse movie</title></head>

<h1> <a href="/"> Index page </a> </h1>


<h3><a href='/add_new_movie'>Add new movie</a></h3>
<h3><a href='/search_movie'>Search a movie</a></h3>

<h3>Current movie</h3>
<table border='1'>
    <thead>
        <th>movie_id</th>
        <th>movie_title</th>
        <th>movie_release_date</th>
        <th>director fname</th>
        <th>director lname</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r.0 }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> {{ r[4] }}</td>

        <td> <input type='button' name='Update' value='Update' onclick="window.location = '/update_movie/{{r.0}}'"> </td>
        <td> <input type='button' name='Delete' value='Delete' onclick="window.location = '/delete_movie/{{r.0}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</html>
